{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block app_content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
        </tr>
        </thead>
        <tbody>
        {% for meet in meets %}
        <tr>
            <th scope="row"><a href="{{ url_for('mantenedores.meet', id=meet.id) }}">{{ meet.id }}</a></th>
            <td>{{ meet.nombre }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('mantenedores.meet_nuevo') }}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Crear Nuevo Meet</a>
{% endblock %}